/* Launchpad STYLE */
.menuBackground {
    background: -moz-linear-gradient(top, rgba(169, 196, 223, 1) 0%, rgba(231, 236, 240, 1) 100%) !important;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(169, 196, 223, 1) 0%, rgba(231, 236, 240, 1) 100%) !important;
    background: linear-gradient(to bottom, rgba(169, 196, 223, 1) 0%, rgba(231, 236, 240, 1) 100%) !important;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a9c4df', endColorstr='#e7ecf0', GradientType=0) !important;
    /* IE6-9 */
    height: 100vh !important; 
}

.floatRight {
    float: right;
}

.pad25bot {
    padding-bottom: 30px;
}

.menuHeaderBackground {
    background-color: transparent !important;
    box-shadow: none !important;
}

.menuHeaderImage {
    padding-left: 10px;
    padding-bottom: 10px;
}

.sapMShell html.sap-desktop .sapMShellCentralBox {
    box-shadow: 0 0 0px rgb(0 0 0 0) !important;
}

.tiles1 {
    margin-right: 8px;
    margin-bottom: 10px !important;
    /*display: inline-flex !important;*/
    overflow: hidden !important;
}

.panelCusto>.sapMPanelContent {
    padding-top: 1px !important;
    padding-bottom: 2px !important;
    border: none !important;
    display: block !important;
    overflow: auto !important;
}

.panelCusto>.sapMPanelHdr {
    padding: 0 1.75rem !important;
    border: none !important;
    color: #346187 !important;
}

.panelCusto>.sapMIBar.sapMHeader-CTX {
    background-color: #eff4f961 !important;
}



/* Login STYLE */
.sapMBarPH {
    display: inline-block !important;
}

.login_background {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a80232+0,a50834+40,a80232+43,a5123c+55,efe3ef+100 */
    background: #a80232;
    /* Old browsers */
    background: -moz-linear-gradient(top, #a80232 0%, #a50834 40%, #a80232 43%, #a5123c 55%, #efe3ef 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a80232 0%, #a50834 40%, #a80232 43%, #a5123c 55%, #efe3ef 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a80232 0%, #a50834 40%, #a80232 43%, #a5123c 55%, #efe3ef 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a80232', endColorstr='#efe3ef', GradientType=0);
    /* IE6-9 */
}

.loginImage {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.loginMargins {
    width: 80% !important;
    margin-left: 10%;
    margin-right: 10%;
}

.loginVersion {
    color: #026d02;
    float: right;
    padding-right: 10%;
}

.login_box {
    background: white;
    -webkit-box-shadow: 6px 6px 55px 3px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 6px 6px 55px 3px rgba(0, 0, 0, 0.61);
    box-shadow: 6px 6px 55px 3px rgba(0, 0, 0, 0.61);
    position: sticky;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: auto;
    top: 10%;
}

.loginEnvironment {
	font-weight: bold;
}


/*html.sap-desktop .sapMShellAppWidthLimited .sapMShellCentralBox  {
    width: 100vw !important;
    margin-left: 0px !important; 
    left: 0px !important;
    background-color: rgba(255,255,255,0.3);
}*/